

$icon-font-path: '../fonts/';

@import "variables.scss";
@import "mixins.scss";

@import "agency.scss";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

strong {
  font-size: 15px;
}

ul {
  padding-left: 20px;
}

// buttons
.btn-secondary {
  @include button-variant(white, lighten($brand-secondary, 15%), $brand-secondary);
  @include heading-font;
  font-size: $font-size-h3 * 0.85;
  text-transform: uppercase;
  color: $white;
  margin-top: 20px;
}

// tooltip
.tooltip {
  &.in {
    opacity: 1;
  }

  .tooltip-inner {
    @include heading-font;
    background-color: $white;
    border: 2px solid $brand-secondary;
    color: $brand-secondary;

    font-size: $font-size-h3 * 0.85;
    text-transform: uppercase;
    max-width:480px;
    padding: 15px;
  }

  &.top {
    .tooltip-arrow {
      border-top-color: $brand-secondary;
    }
  }
}

// fonts
h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
    color: $gray;
}



// header and section
header,
section {
  background-color: $white;
  padding: 20px 0;
  text-align: center;

  h2.section-heading {

  }

  h3.section-subheading {
    @include heading-font;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 30px;
  }
}

#services {
  h3.section-subheading {
    margin-top: 0;
  }
}

.intro-heading {
  @include heading-font;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin:30px 10px 0;
  color: $gray;

  @media(min-width:768px) {
    font-size: 50px;
    line-height: 50px;
    margin-top:40px;
    margin-bottom: 0px;
  }
}

.intro-lead-in {
  @include heading-font;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}

.logo-wrapper {
  padding: 0;

  img {
    max-width: 90%;

    @media(min-width:1024px) {
      max-width:100%;
    }
  }

  .intro-lead-in {
    background-color: $gray;
    color: $white;
    padding: 20px;
    margin: 30px 0 0 0;
  }

}

.banner-image {
  border-bottom: 0px solid $brand-primary;
  border-top: 0px solid $brand-primary;
  background-image: url('../images/img-home.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  padding-top: 80px;
  padding-bottom: 80px;

  @media(min-width:768px) {
    padding-top:140px;
    padding-bottom: 140px;
  }
}

// Services Section
.service-item {
  margin: 0 0 15px;
  padding-top: 0;
  right: 0;

  a:hover {
    .service-caption {
      background-color: lighten($brand-secondary, 15%);
      background: linear-gradient(#364b66, #4f565e);
    }
  }
}

.service-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: $brand-secondary;
  text-align: center;
  padding: 25px;
  min-height: 95px;
  border-radius: 10px;
  border: 2px solid $brand-secondary;
  background: linear-gradient(#4f565e, #364b66);

  h4 {
    @include heading-font;
    margin: 0;
    color:$white;
  }
}

// modal
.modal-body {
  h4 {
    color: $brand-primary;
    font-size:$font-size-h4 * 0.75;
  }

  img {
    max-width: 100%;
  }

  .img-gallery {
    img {
      padding-bottom: 20px;
    }
    .magnify-large {
      z-index: 100;
    }
  }
}

// Contact Section
section#contact {
//  background-color: $gray-darker;
  padding-bottom: 40px;

  .section-heading,
  .section-subheading,
  label.h4 {
  //  color: white;
   }

   h3 {
     line-height: 1.4;
   }

   label.h4 {
     text-align: left;
     display: block;
   }

   a {
    // color: $white;
  // text-decoration: underline;

     &:hover,
     &:active,
     &:focus {
    //   color: darken($white, 10%);
     }
   }
}

#map {
  height: 300px;
  width: 100%;
}

footer {
  padding: 25px 0;
  text-align: center;
  span.copyright {
    line-height: 40px;
    @include heading-font;
    text-transform: none;
  }

  ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    @include heading-font;
    text-transform: none;
  }
}
