$icon-font-path: '../fonts/';

@import "variables.scss";
@import "mixins.scss";

@import "agency.scss";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

// import the agency theme
.logo-wrapper {
  padding: 20px 0 40px 0;
}

.intro-wrapper {
  border-bottom: 8px solid $brand-primary;
  border-top: 8px solid $brand-primary;
  background-image: url('../images/img-home.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  text-align: center;

  .intro-text {
    padding-top: 50px;
    padding-bottom: 80px;

    .intro-lead-in {
      @include heading-font;
      color: $white;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px;
    }

    .intro-heading {
      @include heading-font;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px;
      color: $brand-primary;
    }
  }
}

@media(min-width:768px) {
  .intro-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;

    .intro-lead-in {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 25px;
    }
    .intro-heading {
      @include heading-font;
      font-weight: 700;
      font-size: 75px;
      line-height: 75px;
      margin-bottom: 50px;
    }

    .intro-text {
      .btn {
        margin-top:30px;
      }
    }
  }
}

// services section
#services {
  padding: 75px 0;

  h2.section-heading {
    font-weight: 700;
  }

  h3.section-subheading {
  //  font-size:$font-size-h3 * 0.9;
  }
}

// Portfolio Section

#portfolio {
  .portfolio-item {
    margin: 0 0 15px;
    right: 0;

    .portfolio-caption {
      max-width: 400px;
      margin: 0 auto;
      background-color: $brand-secondary;
      text-align: center;
      padding: 25px;
      min-height: 90px;

      h4 {
        @include heading-font;
        margin: 0;
        color:$white;

      }
    }
  }

  * {
    z-index: 2;
  }
}

@media(min-width:767px) {
  #portfolio {
    .portfolio-item {
      margin: 0 0 30px;
    }
  }
}

// contact form-group

label.h4 {
  color: $white;
}
